.main {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
}

body {
    font-family: Arial, Verdana, sans-serif;
}

input {
    padding: 3px 7px 3px 3px;
}

button {
    padding: 3px 7px;
}

p {
    margin-top: 15px;
}

h4 {
    margin: 10px 0;
}

.url-input {
    outline: none;
}
